<a href="https://colab.research.google.com/github/AryaWiratama26/ml/blob/main/Regresi_Linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [74]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [75]:
# Load dataset
df = pd.read_csv("house_prices.csv")
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [76]:
# Rename columns
df = df.rename(columns={
    'Carpet Area': 'Carpet_Area',
    'Bathroom': 'Bathroom',
    'Car Parking': 'Car_Parking',
    'Price (in rupees)': 'Price'
})

In [77]:
# Function to convert area units
def convert_area(value):
    if isinstance(value, str):
        if 'sqm' in value:
            return float(value.replace(' sqm', '')) * 10.764  # Convert sqm to sqft
        elif 'sqft' in value:
            return float(value.replace(' sqft', ''))
    return np.nan

df['Carpet_Area'] = df['Carpet_Area'].apply(convert_area)

In [78]:

df['Floor'] = df['Floor'].astype(str).str.extract(r'(\d+)').astype(float).fillna(0)

df['Car_Parking'] = df['Car_Parking'].astype(str).str.extract(r'(\d+)').astype(float).fillna(0)

df['Bathroom'] = df['Bathroom'].astype(str).str.extract(r'(\d+)').astype(float).fillna(0)

In [79]:

df = df.dropna(subset=['Carpet_Area', 'Floor', 'Bathroom', 'Car_Parking', 'Price'])

X = df[['Carpet_Area', 'Floor', 'Bathroom', 'Car_Parking']]
y = df['Price']

In [80]:

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [81]:


# Train Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

print("Koefisien model:", model.coef_)
print("Intercept:", model.intercept_)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate model performance
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)

Koefisien model: [ 7.70544686e-03  1.36905716e+02  2.04423945e+03 -4.56666273e+00]
Intercept: 2336.8206932262356
Mean Absolute Error (MAE): 3434.2467353076477
Mean Squared Error (MSE): 693796908.2870013
Root Mean Squared Error (RMSE): 26340.024834593478